<script xmlns="http://www.w3.org/1999/html">
    var jsonTree = function (wrap, obj) {
        if (typeof wrap === 'string') wrap = document.getElementById(wrap);
        wrap.innerHTML = jsonTree.html(obj);
        $(".jsonTree-hide").each(function(){
            $(this).attr("className","jsonTree-show");
        });
        jsonTree.event(wrap);
    };
    // 生成UI
    jsonTree.html = function (obj) {
        var html = [], i, length,
                toString = Object.prototype.toString,
                isArray = function (obj) {
                    return toString.call(obj) === '[object Array]';
                };

        var each = function (obj, parent) {
            if (isArray(obj)) {
                length = obj.length;
                for (i = 0; i < length; i ++) {
                    html.push('<dd><a href="');
                    html.push(obj[i]['url']);
                    html.push('"><span class="jsonTree-number">');
                    html.push(i + 1);
                    html.push('.</span> <span class="jsonTree-name">');
                    html.push(obj[i]['name']);
                    html.push('</span></a></dd>');
                };
            } else if (typeof obj === 'object') {
                for (i in obj) {
                    html.push('<dd><dl class="jsonTree-hide"><dt><span class="jsonTree-icon"></span>');
                    html.push(i);
                    html.push('</dt>');
                    html.push(each(obj[i], i));
                    html.push('</dl></dd>');
                };
            };
            return html;
        };

        return '<dl class="jsonTree">' + each(obj).join('') + '</dl>';
    };
    // 绑定行为
    jsonTree.event = function (wrap) {
        wrap.onclick = function (event) {
            event = event || window.event;
            var link, bar,
                    target = event.target || event.srcElement,
                    parentNode = target.parentNode;

            if (target.nodeName === 'DT') bar = target;
            if (target.nodeName === 'A') link = target;
            if (parentNode.nodeName === 'DT') bar = parentNode;
            if (parentNode.nodeName ===  'A') link = parentNode;

            if (bar) {
                bar.parentNode.className = bar.parentNode.className === 'jsonTree-show' ?
                        'jsonTree-hide' :
                        'jsonTree-show';
            } else if (link) {
                // [code..]
            };

            try {
                'getSelection' in window ?
                        window.getSelection().removeAllRanges() :
                        document.selection.empty();
            } catch (e) {};
        };
    };
</script>
<script>
    var W = null; // The window with documentation

    if(window.Starting==null) {
        try {
            GetElem('title').innerHTML = "TreeGrid HTML tutorial and example list";
            GetElem('desc').style.display = "none";
        } catch(e) { }
    }
    Grids.OnCanRowAdd  =  function(G,row){

        OverlayShow();

    }
    function OverlayShow(){

        el = document.getElementById("overlay");
        el.style.visibility = "visible";

    }
    function OverlayHide(){

        el = document.getElementById("overlay");
        el.style.visibility = "hidden";

    }
    // --- Click to cell, opens the link ---
  /*  Grids.OnClick = function(G,row,col){
        if(row.Fixed || row.Def.Group) return;
        var L = (row.S&&row.S!="EGrid"&&row.S!="EGantt"?"../Tutorials/"+row.S+"/":"") + row.F;
        if(window.ProcessClick){ ProcessClick(null,L); return; } // online web
        if(W) W.close();
        W = window.open(L,"Examples");
        setTimeout(function(){
            W.scrollBy(0,-20);
        },10);
    }      */





</script>

<h1>Listing rebalance home</h1>
<div id="container">
  <div id="header" style=" background-image:url(/images/logo.png)"> </div>
  <div id="menu"></div>
  <div id="mainContent">
    <div id="sidebar">
              <div id="demo" style="height: 100%;background:#9ff;"></div>
              <script>
                  var _data = {
                      "Rebalance Group": [{
                          "name": "Group List",
                          "url": ""
                      }],
                      "Account": [{
                          "name": "Account List",
                          "url": ""
                      }],
                      "Security": [{
                          "name": "Security List",
                          "url": ""
                      }],
                      "Model portfolios": [{
                          "name": "Models List",
                          "url": ""
                      }],
                      "Model portfolios": [{
                          "name": "Rebalance Group",
                          "url": ""
                      }],
                      "Action plan ": [{
                          "name": "Action plans",
                          "url": ""
                      }]
                  };
                  jsonTree('demo', _data);
              </script>
            </div>

    <div id="content" style="float:left;"><div style="height: 100%; width: 670px;"><bdo Data_Url="/TreeGrid/IndexData.xml" ></bdo></div></div>
  </div>
  <div id="footer">This is the footer</div>
</div>


